$primary-color: #011627;
$secondary-color: #2ec4b6;
$text-color: #fdfffc;
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
}
html,
body{
  height: 100%;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
}
.calculator-container{
  width: 250px;
  border-radius: 1em;
  padding: .5em;
  background-color: $secondary-color;
  .display{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 55px;
    padding: .8em;
    font-size: 1.5em;
    color: $text-color;
    .display__top{
      margin-bottom: .5em;
      opacity: .6;
    }
  }
  .buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    button{
      outline: none;
      padding: .2em;
      margin: 0 auto;
      border: none;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color .2s ease; 
      &:hover{
        background-color: #ff9f1c;
      }
    }
  }
  button.clear-btn,
  button.equal{
    width: 100%;
    grid-column: span 2;
    border-radius: 2em;
  }
}